{% extends "master.html" %} {% load static %} {% block title %} Grandious
Industries {% endblock %} {% block content %}
<div class="container-fluid text-center p-5 bg-info">
	<h1 class="display-1" style="color: #cc5500">Placeholder Text</h1>
</div>
<div class="container-fluid text-center mt-3">
	<h1 class="display-3 lead">
		<a class="link" href="/supporttickets" style="cursor: progress"
			>Create a Support Ticket</a
		>
	</h1>
</div>
<div class="container-fluid text-center mt-5">
	<pre
		class="lead"
	>Welcome to Placeholder Text website, our tiny webspace on the Network.<br>Placeholder Text</pre>
</div>
{% endblock %}
