<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Success Page</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
			crossorigin="anonymous"
		/>
		<style>
			.body {
				font-family: Arial, sans-serif;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100vh;
				margin: 0;
				background-color: #f4f4f4;
			}

			.success-message {
				text-align: center;
				padding: 20px;
				border: 2px solid #4caf50;
				border-radius: 5px;
				background-color: #dff0d8;
				color: #3c763d;
			}
		</style>
	</head>
	<body>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
			crossorigin="anonymous"
		></script>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<div class="container-fluid">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/" style="cursor: crosshair"
							>Home</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							href="/supporttickets"
							style="cursor: text"
							>Create Support Ticket</a
						>
					</li>
				</ul>
			</div>
		</nav>
		<div class="body">
			<div class="success-message">
				<h1>Success!</h1>
				<p>Your request has been processed.</p>
				<p>Support ticket number: {{ support_ticket.ticket_id }}</p>
				<p>Model Name: {{ support_ticket.model_name }}</p>
				<p>Model Number: {{ support_ticket.model_number }}</p>
				<p>Repair Status: {{ support_ticket.repair_status }}</p>
			</div>
		</div>
	</body>
</html>
